<!doctype html>
<html
  lang="en"
  class="mx-auto my-0 max-w-[1440px] scroll-pt-20 overflow-x-hidden"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      async
      src="https://umami.vynxlabs.dev/script.js"
      data-website-id="7cb9dfa7-3355-48d0-b7d7-ede252c6757e"
      data-domains="vynxlabs.com"
    ></script>
    {% include "partials/meta-info.html" %}
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ site.url }}/feed.xml"
    />
    {% set css %} {% include "css/styles.css" %} {% endset %}

    <link rel="stylesheet" href="/css/style.css" />
    <style defer>
      {{ css | safe }}
    </style>
  </head>
  {% include "partials/watermark.html" %}
  <body
    class="mx-4 flex h-screen flex-col bg-vynx-offwhite text-lg text-vynx-darkbrown selection:bg-vynx-lightblue selection:text-white sm:mx-10"
  >
    {% include "partials/site-head.html" %}

    <main tabindex="-1" id="main-content" class=" flex-1 ">
      {% block content %}{% endblock %}
    </main>
    {% if footer %} {% include "partials/site-foot.html" %} {% endif %}

    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        /*************************************************
                  HELPERS
**************************************************/

        window.$ = document.querySelector.bind(document);
        window.$$ = document.querySelectorAll.bind(document);

        // helper function very useful for various animations
        // note: the callback function, when you define it, requires an 'entries' argument (of type IntersectionObserverEntry)
        window.whenElementCrossesPercentageUpViewPort = function (
          element,
          percentage,
          callback,
        ) {
          let observer = new IntersectionObserver(callback, {
            rootMargin: `0px 0px -${percentage}% 0px`,
          });
          observer.observe(element);
        };

        /*************************************************
                   PARALLAX
**************************************************/

        let requestedAnimationFrame;

        function initializeParallax() {
          window.parallaxElements = [];

          $$("[data-parallax]").forEach((el) => {
            window.parallaxElements.push({
              element: el,
              speed: el.getAttribute("data-parallax"),
              isInView: false, //,
              //scrolledIntoViewAt: -1
            });

            let parallaxObserver = new IntersectionObserver(
              handleParallaxIntersection,
            );
            parallaxObserver.observe(el);

            function handleParallaxIntersection(entries) {
              let elementReference = window.parallaxElements.find(
                (ref) => ref.element == el,
              );

              if (entries[0].isIntersecting) {
                elementReference.isInView = true;

                if (!elementReference.hasOwnProperty("scrolledIntoViewAt"))
                  elementReference.scrolledIntoViewAt =
                    document.scrollingElement.scrollTop;
              } else {
                elementReference.isInView = false;
              }
            }
          });

          window.addEventListener(
            "scroll",
            () => {
              //debounce to requestAnimationFrame
              if (requestedAnimationFrame)
                window.cancelAnimationFrame(requestedAnimationFrame);

              requestedAnimationFrame =
                window.requestAnimationFrame(updateParallax);
            },
            false,
          );
        }

        function updateParallax() {
          window.parallaxElements.forEach((parallaxElement) => {
            if (!parallaxElement.isInView) return;

            let scrollPositionNow = document.scrollingElement.scrollTop;
            let scrollPositionAtFirstSighting =
              parallaxElement.scrolledIntoViewAt;
            let parallaxSpeed = parallaxElement.speed;

            let el = parallaxElement.element;
            let translation =
              (scrollPositionNow - scrollPositionAtFirstSighting) *
              parallaxSpeed;
            el.style.transform = `translateY(${translation}px)`;
          });
        }

        initializeParallax();

        /*************************************************
                  FADE-IN & LIFT
**************************************************/

        function fadeInAndLift(entries) {
          if (entries[0].isIntersecting) {
            let el = entries[0].target;

            el.style.transform = "translateY(0)";
            el.style.opacity = 1;
          }
        }

        function fadeInAndLiftChildren(entries) {
          if (entries[0].isIntersecting) {
            let parent = entries[0].target;
            let children = parent.children;
            let interval = 150;

            Array.from(children).forEach((child, i) => {
              setTimeout(() => {
                child.style.transform = "translateY(0)";
                child.style.opacity = 1;
              }, interval * i);
            });
          }
        }

        function setFadeInAndLiftStyles(el) {
          el.style.transform = "translateY(30px)";
          el.style.opacity = 0;
          el.style.transition = "all 0.4s ease-out";
        }

        function initializeFadeInAndLift() {
          //setup for single-element fade-in-and-lift
          $$("[data-fil]").forEach((el) => {
            setFadeInAndLiftStyles(el);

            let percentage = el.getAttribute("data-fil-trigger") || 50;

            window.whenElementCrossesPercentageUpViewPort(
              el,
              percentage,
              fadeInAndLift,
            );
          });

          //setup for multiple-child-element fade-in-and-lift
          $$("[data-fil-children]").forEach((parent) => {
            let childNodes = parent.children;
            Array.from(childNodes).forEach((childNode) => {
              setFadeInAndLiftStyles(childNode);
            });

            let percentage = parent.getAttribute("data-fil-trigger") || 50;

            window.whenElementCrossesPercentageUpViewPort(
              parent,
              percentage,
              fadeInAndLiftChildren,
            );
          });
        }

        initializeFadeInAndLift();

        /*************************************************
                 TYPING ANIMATION
**************************************************/

        function initializeTyping() {
          window.typingAnimationData = [];

          $$("[data-typing]").forEach((el) => {
            let text = el.textContent;
            let millisecondsPerFrame =
              el.getAttribute("data-typing-speed") || 20;
            let framesPerStep =
              el.getAttribute("data-typing-frames-per-step") || 1;
            let canBeRepeated = el.hasAttribute("data-typing-repeat");
            let readyToRepeat = true;

            window.typingAnimationData.push({
              element: el,
              text: text,
              millisecondsPerFrame: millisecondsPerFrame,
              framesPerStep: framesPerStep,
              canBeRepeated: canBeRepeated,
              readyToRepeat: readyToRepeat,
            });

            whenElementCrossesPercentageUpViewPort(el, 0, (entries) => {
              if (!entries[0].isIntersecting) return;

              let options = {
                millisecondsPerFrame: millisecondsPerFrame,
                framesPerStep: framesPerStep,
                canBeRepeated: canBeRepeated,
                readyToRepeat: readyToRepeat,
              };

              animateTyping(el, text, options);
            });
          });
        }

        function getTypingAnimationReadyToRepeatStatus(target) {
          let targetData = window.typingAnimationData.find(
            (datum) => datum.element == target,
          );
          return targetData.readyToRepeat;
        }

        function setTypingAnimationNotReadyToRepeat(target) {
          window.typingAnimationData.find(
            (datum) => datum.element == target,
          ).readyToRepeat = false;
        }

        String.prototype.replaceAt = function (index, replacement) {
          return (
            this.substring(0, index) +
            replacement +
            this.substring(index + replacement.length)
          );
        };

        function animateTyping(target, text, options) {
          const fillerCharacters = options.fillerCharacters || "1234567890";
          const framesPerStep = options.framesPerStep || 1;
          const millisecondsPerFrame = options.millisecondsPerFrame || 20;
          const canBeRepeated = !!options.canBeRepeated; //default to false if no value passed in
          const readyToRepeat =
            options.readyToRepeat == undefined ? true : options.readyToRepeat;

          if (!getTypingAnimationReadyToRepeatStatus(target)) return;

          let textLength = text.length;
          let currentPos = 0;
          let remainingFramesInThisStep = framesPerStep;
          let remainingTotalFrames = framesPerStep * textLength;

          let output = "";

          function getRandomFillerCharacter() {
            let randomNumber = Math.floor(
              fillerCharacters.length * Math.random(),
            );
            let randomCharacter = fillerCharacters.charAt(randomNumber);
            return randomCharacter;
          }

          function newFrame() {
            window.setTimeout(function () {
              if (remainingTotalFrames > 0) {
                //insert space to be replaced with appropriate character
                if (output.length < currentPos + 1) {
                  output.concat(" ");
                }

                if (remainingFramesInThisStep === 1) {
                  //show correct character @ current position
                  let correctChar = text.charAt(currentPos);
                  output = output.replaceAt(currentPos, correctChar);
                  target.textContent = output;

                  remainingFramesInThisStep = framesPerStep;
                  currentPos++;
                } else if (remainingFramesInThisStep > 1) {
                  //show random character @ current position
                  let randomChar = getRandomFillerCharacter();
                  output = output.replaceAt(currentPos, randomChar);
                  target.textContent = output;

                  remainingFramesInThisStep--;
                }

                remainingTotalFrames--;
                newFrame();
              } else {
                //upon finishing the animation...
                if (!canBeRepeated) {
                  setTypingAnimationNotReadyToRepeat(target);
                }
              }
            }, millisecondsPerFrame);
          }

          newFrame(remainingTotalFrames);
        }

        initializeTyping();
      });
    </script>
  </body>
</html>
