{% extends "layouts/base.html" %} {% block content %}


{# HERO SECTION #}
<article
  class="flex text-white"
  data-fil-children
  _="
  on intersection(intersecting) having threshold 0.2
  if intersecting then
  transition #lg-nav-cta opacity to 0 

  else
  transition #lg-nav-cta opacity to 1 
  
  "
>
<div
    class="cs-w-full  max-h-[800px] sm:max-h-[1200px] lg:max-h-[1500px] cs-gradient -z-10 bg-cover bg-scroll  lg:bg-fixed"
  ></div>
  <div class="cs-w-full flex mt-[100px] sm:mt-[300px] md:mt-[350px] lg:mt-[400px] items-center justify-center flex-col">
    <div class="flex min-h-min flex-col items-center basecontainer relative">
      <p class="text-2xl sm:text-5xl">{{hero.eyebrow}}</p>
      <h1
        class="mt-4 max-w-[1200px] text-center  text-4xl sm:text-[64px] sm:leading-[70px]"
      >
        {{ hero.headline | markdownify | safe }}
        
      </h1>
      <div data-typing data-typing-speed="150" class="w-[135px] absolute top-[550px] min-[388px]:top-[500px] min-[440px]:right-5  min-[640px]:right-20 min-[440px]:top-1 min-[640px]:top-5 min-[640px]:rotate-[20deg] font-[gochi-handregular] text-2xl opacity-90">{{hero.soon}}</div>
      <p class="mb-4 mt-8 max-w-[400px] text-center">{{ hero.subheadline }}</p>
 
        {% include "partials/notify-form.html" %}



      <div>
        <div class="mt-20 flex justify-between gap-2 text-sm">
          {% for temp,benefit in hero.benefits %}
            <p>{{ benefit }}</p>
          {% endfor %}
        </div>
        {% image hero.imgDesktop, "mt-4 overflow-hidden","desktop image of
        Sopris website ","(max-width: 2000px) 1920px (max-width: 1000px) 850px
        (max-width: 850px) 600px (max-width: 500px) 300px",[1920,850,600,500,300]%}
      </div>
    </div>

  </div>
  
</article>

{# KEY IDEA #}
<article class="mt-40 relative min-h-screen flex flex-col justify-center items-center">
  <div class="relative flex flex-col  w-full">
    {# User 1 #}
    <div
    class="md:-top-24 md:absolute md:rotate-[-14deg] lg-user-message self-start max-w-[250px] sm:max-w-[500px] font-[fira-sansregular] text-[17px]"
    >
    <div class="flex gap-4">
      <img
        src="/images/people/Darlene.png"
        alt=""
        class="hidden sm:block w-[55px] h-[55px] mt-[25px]"
      />
      <div>
        <div class="flex justify-between text-xs">
    
          <div class="flex gap-2">
            <img
              src="/images/people/Darlene.png"
              alt=""
              class="sm:hidden w-[25px] h-[25px]"
            />
            <p class="opacity-60">Darlene Robertson</p>
          </div>
          <time
            datetime="2024-07-13T09:27:56"
            class="opacity-60"
          >
            09:27 AM</time
          >
        </div>
        <p class="p-2 bg-[#3e3733] text-white rounded-lg mt-2">
          How has my farm's soil salinity levels change from the start of the season until now?
        </p>
      </div>
    </div>
    </div>
    {# End User 1 #}
    {# User 2 #}
    <div
    class="mt-8 md:-top-60 md:absolute md:rotate-[16deg] lg-user-message self-end max-w-[250px] sm:max-w-[500px] font-[fira-sansregular] text-[17px]"
    >
    <div class="flex gap-4">
      <div>
        <div class="flex justify-between text-xs">
          <time
            datetime="2024-07-13T06:37:56"
            class="opacity-60"
          >
            5:37 AM</time
          >
          <div class="flex gap-2">
            <p class="opacity-60">Cody Fisher</p>
            <img
              src="/images/people/cody.png"
              alt=""
              class="sm:hidden w-[25px] h-[25px]"
            />
          </div>
        </div>
        <p class="p-2 bg-[#3e3733] text-white rounded-lg mt-2">
          What type and amount of fertilizer should I use for optimal growth?
        </p>
      </div>
      <img
        src="/images/people/cody.png"
        alt=""
        class="hidden sm:block w-[55px] h-[55px] mt-[25px]"
      />
    </div>
    </div>
    {# End User 2 #}
  </div>
<h2 class="overflow-hidden text-4xl sm:text-5xl md:text-7xl font-[fira-sansbold] text-center py-20" style="transform: translateY(0px); opacity: 1; transition: 0.4s ease-out;">{{keyIdea.headline1}}<br> {{keyIdea.headline2}} 
  <span class="inline-block before:absolute before:bg-cover before:ml-2 md:before:-ml-10 before:mt-8 before:transition-all before:ease-out 
  before:content-[url(/images/illustrations/dash.svg)] before:[transition-duration:250ms]  before:w-[50px] sm:before:w-[125px] md:before:w-[239px]" 
>{{keyIdea.headline3}}</span>  {{keyIdea.headline4}}</h2>
<div class="relative flex flex-col  w-full">
  {# User 1 #}
  <div
  class="lg:top-0 md:top-44 md:absolute md:rotate-[6deg] lg-user-message self-start max-w-[250px] sm:max-w-[500px] font-[fira-sansregular] text-[17px]"
  >
  <div class="flex gap-4">
    <img
      src="/images/people/guy.png"
      alt=""
      class="hidden sm:block w-[55px] h-[55px] mt-[25px]"
    />
    <div>
      <div class="flex justify-between text-xs">
  
        <div class="flex gap-2">
          <img
            src="/images/people/guy.png"
            alt=""
            class="sm:hidden w-[25px] h-[25px]"
          />
          <p class="opacity-60">Guy Hawkins</p>
        </div>
        <time
          datetime="2024-07-13T06:52:56"
          class="opacity-60"
        >
          6:52 AM</time
        >
      </div>
      <p class="p-2 bg-[#3e3733] text-white rounded-lg mt-2">
        What is the nutrient holding capacity based off my CEC report?
      </p>
    </div>
  </div>
  </div>
  {# End User 1 #}
  {# User 2 #}
  <div
  class="mt-8 md:absolute lg:rotate-[-24deg] md:rotate-[-8deg] lg-user-message self-end max-w-[250px] sm:max-w-[500px] font-[fira-sansregular] text-[17px]"
  >
  <div class="flex gap-4">
    <div>
      <div class="flex justify-between text-xs">
        <time
          datetime="2024-07-13T19:55:56"
          class="opacity-60"
        >
          7:55 PM</time
        >
        <div class="flex gap-2">
          <p class="opacity-60">Jane Cooper</p>
          <img
            src="/images/people/jane.png"
            alt=""
            class="sm:hidden w-[25px] h-[25px]"
          />
        </div>
      </div>
      <p class="p-2 bg-[#3e3733] text-white rounded-lg mt-2">
        What is the nutrient availability considering my soils ph?
      </p>
    </div>
    <img
      src="/images/people/jane.png"
      alt=""
      class="hidden sm:block w-[55px] h-[55px] mt-[25px]"
    />
  </div>
  </div>
  {# End User 2 #}
</div>
</article>


{% endblock %}
