<article class=" mt-8 flex flex-col flex-wrap justify-center items-center  w-full">
    <form
      name="notifyWhenAvailable"
      method="POST"
      class="w-full max-w-[450px] p-4 flex"
      data-netlify="true"
      data-netlify-recaptcha="true"
      data-fil
      data-fil-trigger="10"
    >
      <div class="flex flex-1 justify-between items-center bg-white px-2 py-1 rounded-full w-full">
        <p class="flex w-full">
          <label
            class="flex-1 flex flex-col font-[fira-sansbold] text-sm uppercase w-full"
            for=""
            ><input
              type="email"
              name="email"
              class="text-slate-900 h-9 w-full pl-2 font-[fira-sansregular] text-vynx-darkblue hover:border-vynx-lightblue focus:border-vynx-lightblue"
              required
              placeholder="JSmith@example.com"
            /><span></span></label
          >
        </p>
  
        <div class="">
          <button type="submit" class="button w-max">GET NOTIFIED</button>
        </div>
      </div>
    </form>
  </article>
  